.layout {
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category {
  display: flex;
  flex-direction: row;
}

.detail-btn{
  display: flex;
  flex-direction: right;
}